---
layout: archive
---



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{page.title}} </title>
</head>
<body>
  {{ content }}

  <div class="about-bio">
    <img src="{{ site.about.avatar }}" alt="{{ site.about.author }}">
    <h1 class="author-name">{{ site.about.author }}</h1>
    <p class="about-bio-story" style="text-align: center;">
      No matter what you do, your life consists of taking actions. 
      Maybe just drinking water, or much more like managing a job and a family. 
      tmodx is about asking the big questions, uncovering truths, and discovering how to live well through acting well.
      <br><br>
      Right now, I just have <a href="/blog">the blog</a>, where I teach you what I've learnt through building and give my thoughts on acting.
    </p>
  </div>

</body>
</html>